/* header */ 
header {
    height: 80px;
    background-color: lightblue;
    background-image: url(../pattern.png);
}

.header-image {
    height: 60px;
    width: auto;
}
.autore {
    color: aqua
;
}
.evidenzia {
    background-color: yellow;
}
thead {
    background-color:rgb(43, 43, 238);
    color: white;
}
.bg-lightblue {
    background-color: lightblue;
}
table {
    border-collapse:collapse
    text-align: left
}
.large-col {
    width: 50%;
}