/* header */ 
header {
    height: 80px;
    background-color: lightblue;
    background-image: url(../pattern.png);
}

.header-image {
    height: 60px;
    width: auto;
}
.autore {
    color: aqua
;
}